@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #f9faf8;
  --secondary: #e5e7eb;
  --background-color: #1f2937;
}

body {
  font-family: "Roboto", sans-serif;
  /* height: 2000px; */
}

.header-container {
  padding: 10px 0;
  background-color: var(--background-color);
  color: var(--main);
  display: flex;
  justify-content: center;
}

.header {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary);
  margin-left: 20px;
}

.header-links a:hover {
  text-decoration: underline;
  color: #3882f6;
}

.hero-container {
  background-color: var(--background-color);
  color: var(--main);
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.hero {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-info {
  width: 50%;
}

.hero-info-main {
  font-size: 48px;
  font-weight: 900;
  color: var(--main);
}

.hero-info-secondary {
  font-size: 18px;
  color: var(--secondary);
  margin: 7px 0 14px 0;
}

.signup {
  background-color: #3882f6;
  color: var(--main);
  font-size: 18px;
  font-weight: 800;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
}

.hero-img img {
  width: 500px;
  /* height: 100%; */
}

.info-container {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-flow: column wrap;
  width: 60%;
}

.info-title {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-size: 36px;
  color: var(--background-color);
  font-weight: bolder;
}

.info-cards-container {
  /* width: 60%; */
  display: flex;
  justify-content: center;
  /* gap: 20px; */
  padding: 0px 0px 30px 0px;
  margin: 0 0 50px 0;
}

.info-card {
  width: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.info-image {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}

.info-image-text {
  width: 150px;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  color: #5f5e5e;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

.quote {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 400px;
  padding: 0 90px;
}

.main-quote {
  color: var(--background-color);
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.main-quote-author {
  color: var(--background-color);
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  align-self: flex-end;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 150px;
  margin: 100px 0;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
}

.signup-text {
  color: #f9faf8;
}

.signup-text p {
  margin-top: 5px;
}

.signup-btn button {
  color: #f9faf8;
  padding: 10px 30px;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  background-color: transparent;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--background-color);
}

.footer-container p {
  color: #f9faf8;
}